@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  margin: 0;
  height: 100%;
}

.addButton {
  @apply flex items-center gap-2 p-1 px-10 text-sm text-white transition-colors duration-75 rounded-sm shadow-sm bg-custom-orange shadow-custom-orange active:bg-custom-orange-dark hover:bg-custom-orange-light md:px-8 md:text-lg;
}

.addButtonSmall {
  @apply flex items-center gap-2 p-1 px-4 text-sm text-white transition-colors duration-75 rounded-sm shadow-sm bg-custom-orange shadow-custom-orange active:bg-custom-orange-dark hover:bg-custom-orange-light md:px-8 md:text-lg;
}

.removeButton {
  @apply p-1 px-6 text-sm text-white transition-colors duration-75 rounded-sm shadow-sm bg-custom-red shadow-custom-red hover:bg-dark-red active:bg-light-red md:px-8 md:text-lg;
}

.filterButton {
  @apply flex w-full px-12 py-3 text-white transition-colors duration-75 rounded-sm shadow-sm bg-custom-orange shadow-custom-orange active:bg-custom-orange-dark hover:bg-custom-orange-light md:text-lg lg:px-20;
}

.shortHR {
  @apply w-48 h-1 mx-auto bg-gray-700 border-0 rounded dark:bg-gray-700 md:w-80;
}

.listItem {
  @apply flex flex-col items-center justify-between w-full gap-4 p-2 py-6 text-center text-white rounded-md bg-light-black md:w-full;
}

.listItemCart {
  @apply flex flex-col items-center justify-between w-9/12 gap-2 p-2 text-center rounded-md bg-light-black md:w-full;
}

.itemContainer {
  @apply flex justify-center w-10/12 md:max-w-xs md:mb-10;
}

.itemBorder {
  @apply transition-all duration-300 border-2 border-solid rounded-lg border-light-black hover:border-2 hover:border-solid hover:border-custom-orange;
}

.socialMediaIcon {
  @apply w-20 h-20 p-2 border-2 border-white rounded-full hover:bg-white active:bg-gray-300;
}

.menu-enter {
  opacity: 0;
}

.menu-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.menu-exit {
  opacity: 1;
}

.menu-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
